html {
	font-size: $baseFontSize;
}
body {
	padding: 0 10px;
}
* {
	font-family: 'source_sans_proregular';
	font-size: 1.05em;
	max-width: 100%;
}
h1, h2, h3 {
	font-family: 'bree_serifregular';
}
h1 {
	font-size: 3em;
	margin: .3em 0;
}

h2 {
	color: #FFF;
	background: #000;
	padding: 5px;
}

h3 {
		margin: 1em inherit;
		font-size: 2.5em;
	}

ul {
	list-style-type:none;
	padding-left: 0;
}

#page {
	width: $pageWidth;
	margin: 0 auto 50px auto ;
}
#headshot{
	width: $headshotWidth;
	height: $headshotWidth;
	background: #666;
	margin-right: $headshotMargin;
}
#introduction {
	width: $pageWidth - $headshotWidth - $headshotMargin;
	height: $headshotWidth;
	margin-left: -6px;

	position: relative;

	table {
		font-size: .8em;
	}

	.label {
		font-weight: bold;
	}
}
#headshot, #introduction {
	vertical-align: top;
	display: inline-block;
}
#socialRow {
	position: absolute;
	left: 0;
	bottom: 0;

	height: $socialWidth;

	a {
		text-decoration: none;
	}

	img {
		width: $socialWidth;
		height: $socialWidth;
		margin-right: 5px;
	}
}
.project {

	

	.text {
		

		//width: $pageWidth - $portfolioImageWidth - $portfolioImageMargin;
		//margin-right: $portfolioImageMargin;
	}
	.description {
		margin-top: 0;
	}

	h4 {
		margin-bottom: 0;
	}

	.tech, .links {
		display: inline-block;
		width: 49%;
	}

	.tech p {
		margin-top: 0;
	}

	.links {
		a {
			display: block;
		}
	}


	.gallery {
		margin-bottom: 20px;
		width: $pageWidth;
		height: .75 * $pageWidth;

		img {
			width: 100%;
			height: auto;

			text-align: center;
			display: block;
			margin-left:auto;
			margin-right:auto;
		}
		img.height {
			width: auto;
			height: 100%;
		}

		.swiper-slide div {
			width: $portfolioImageWidth;
			height: $portfolioImageHeight;
			background-size: cover !important;
			background-repeat:no-repeat !important;
			background-position: center;
		}
		.swiper-wrapper {
			max-width: none;
		}
	}

}

.recommendation {
	width: $pageWidth;
	margin-bottom: 20px;

	> * {
		display: inline-block;
		vertical-align: top;
	}

	img {
		width: $recommendationImageWidth;
		height: $recommendationImageWidth;
		margin-right: $recommendationImageMargin;
	}

	h3 {
		margin-top: -4px;
		margin-bottom: 2px;
	}

	span {
		color: #666;
	}

	.content {
		width: $pageWidth - $recommendationImageWidth - $recommendationImageMargin;
		margin-left: -4px;
	}
}

#skills {
	position: relative;
	left: 4px;
}
.skillGroup {
	display:inline-block;
	vertical-align: top;
	width: 25%;
	margin-left: -4px;

	h3 {
		margin-bottom: 4px;
		margin-top: 0;
	}
	.skillList {
		margin-top: 0;
	}
}
.skillList li {

	height: $skillImageWidth;
	margin-bottom: 8px;

	> * {
		vertical-align: top;
		display: inline-block;
		height: 100%;
	}

	label {
		
	}

	.right {
		position: relative;
	}
	.bar {
		position: absolute;
		bottom: 0;
		width: $skillBarWidth;
		height: $skillBarHeight;

		> * {
			position: absolute;
			height: $skillBarHeight;
		}

		.background {
			background: #CCC;
			width: 100%;
		}
		.foreground {
			background: #666;
		}

	}

}