$pageWidth: 700px;
$headshotWidth: 200px;
$headshotMargin: 30px;

$socialWidth: 40px;

$skillImageWidth: 40px;
$skillBarWidth: 100px;
$skillBarHeight: 15px;

$recommendationImageWidth: 100px;
$recommendationImageMargin: 20px;

$portfolioImageWidth: 400px;
$portfolioImageHeight: 300px;
$portfolioImageMargin: 20px;