$pageWidth: 500px;
$headshotWidth: 200px;
$headshotMargin: 30px;

$socialWidth: 30px;

$skillImageWidth: 40px;
$skillBarWidth: 110px;
$skillBarHeight: 15px;

$recommendationImageWidth: 100px;
$recommendationImageMargin: 20px;

$portfolioImageWidth: 300px;
$portfolioImageHeight: .75 * $portfolioImageWidth;
$portfolioImageMargin: 20px;

$baseFontSize: 70%;