/*
Syntax error: File to import not found or unreadable: iosslider.
              Load paths:
                /home/todorus/Documents/projects/portfolio-web
                /home/todorus/Documents/projects/portfolio-web/css
        on line 2 of css/main.scss

1: @import "font";
2: @import "iosslider";
3: @import "values";
4: @import "apply";

Backtrace:
css/main.scss:2
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/tree/import_node.rb:45:in `import'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `map'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/tree/root_node.rb:20:in `render'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/engine.rb:262:in `render'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `each'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:283:in `block in watch'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/vendor/listen/lib/listen/adapter.rb:198:in `call'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/home/todorus/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.10/vendor/listen/lib/listen/adapters/linux.rb:48:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: iosslider.\A               Load paths:\A                 /home/todorus/Documents/projects/portfolio-web\A                 /home/todorus/Documents/projects/portfolio-web/css\A         on line 2 of css/main.scss\A \A 1: @import \"font\";\A 2: @import \"iosslider\";\A 3: @import \"values\";\A 4: @import \"apply\";"; }
