@font-face {
  font-family: 'source_sans_proregular';
  src: url("../font/sourcesanspro-regular-webfont.eot");
  src: url("../font/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/sourcesanspro-regular-webfont.woff") format("woff"), url("../font/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../font/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bree_serifregular';
  src: url("../font/breeserif-regular-webfont.eot");
  src: url("../font/breeserif-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/breeserif-regular-webfont.woff") format("woff"), url("../font/breeserif-regular-webfont.ttf") format("truetype"), url("../font/breeserif-regular-webfont.svg#bree_serifregular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 100%;
  padding: 0; }

body {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  font-family: 'source_sans_proregular';
  font-size: 1.05em;
  max-width: 100%; }

h1, h2, h3 {
  font-family: 'bree_serifregular'; }

h1 {
  font-size: 3em;
  margin: 0 0 .3em; }

h2 {
  color: #FFF;
  background: #000;
  padding: 5px; }

h3 {
  position: relative;
  margin: 1em inherit;
  font-size: 2.5em; }
  h3:first-of-type {
    margin-top: .4em; }

h3:before {
  position: absolute;
  left: -120px;
  top: .42em;
  width: 100px;
  height: 30px;
  background: #3091d4;
  content: ''; }

a {
  font-size: 1.04em;
  color: #058e0b;
  text-decoration: none; }
  a:hover {
    color: #3091d4; }

a.keplar {
  color: #f50c4e; }
  a.keplar:hover {
    color: #07bea4; }

ul {
  list-style-type: none;
  padding-left: 0; }

.bodyCenter {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: block; }

#top {
  background: #3091d4;
  color: #FFF;
  padding: 0 0 1.7em; }
  #top a {
    color: #37f40b; }
    #top a:hover {
      color: #f49689; }

#summary {
  font-size: 1.2em;
  margin: 1.7em 0 0; }

#page {
  margin-top: 0;
  margin-bottom: 50px; }

#headshot {
  width: 300px;
  height: 300px;
  background: #666;
  margin-right: 30px; }

#introduction {
  width: 370px;
  height: 300px;
  margin-left: -6px;
  position: relative; }
  #introduction #facts {
    font-size: .8em; }
  #introduction .label {
    font-weight: bold;
    padding-right: 1em; }

#headshot, #introduction {
  vertical-align: top;
  display: inline-block; }

#socialRow {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px; }
  #socialRow a {
    text-decoration: none; }
  #socialRow img {
    width: 40px;
    height: 40px;
    margin-right: 5px; }

.project .description {
  margin-top: 0; }
.project h4 {
  margin-bottom: 0; }
.project .tech, .project .links {
  display: inline-block;
  vertical-align: top;
  width: 49%; }
.project .tech p {
  margin-top: 0; }
.project .links a {
  display: block; }
.project .gallery {
  margin-bottom: 20px;
  width: 700px;
  height: 525px; }
  .project .gallery img {
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .project .gallery img.height {
    width: auto;
    height: 100%; }
  .project .gallery .swipecontent {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
  .project .gallery .swiper-wrapper {
    max-width: none; }

.recommendation {
  width: 700px;
  margin-bottom: 20px; }
  .recommendation > * {
    display: inline-block;
    vertical-align: top; }
  .recommendation img {
    width: 100px;
    height: 100px;
    margin-right: 20px; }
  .recommendation h3 {
    margin-top: -4px;
    margin-bottom: 2px; }
  .recommendation span {
    color: #666; }
  .recommendation .content {
    width: 580px;
    margin-left: -4px; }

#skills {
  position: relative;
  left: 4px; }

.skillGroup {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  margin-left: -4px; }
  .skillGroup h3 {
    margin-bottom: 4px;
    margin-top: 0; }
  .skillGroup .skillList {
    margin-top: 0; }

.skillList li {
  height: 40px;
  margin-bottom: 8px; }
  .skillList li > * {
    vertical-align: top;
    display: inline-block;
    height: 100%; }
  .skillList li .right {
    position: relative; }
  .skillList li .bar {
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 15px; }
    .skillList li .bar > * {
      position: absolute;
      height: 15px; }
    .skillList li .bar .background {
      background: #CCC;
      width: 100%; }
    .skillList li .bar .foreground {
      background: #666; }
