@media all and (max-width: 700px) {
  .bodyCenter {
    width: 100%;
    padding: 0 20px; }

  #headshot {
    width: 100%;
    height: auto; }

  #introduction {
    width: 100%;
    height: auto;
    margin: .5em 0; }

  #socialRow {
    margin-top: 1em;
    position: static; }

  #introduction {
    margin-left: 0; }

  .project .gallery img.height {
    width: 100%;
    height: auto; } }
